<footer>
    <div class="container text-center">
        <div class="mb-4">
            <a href="https://github.com/seuuser" class="social-icon"><i class="bi bi-github"></i></a>
            <a href="https://linkedin.com/in/seuperfil" class="social-icon"><i class="bi bi-linkedin"></i></a>
            <a href="mailto:seu@email.com" class="social-icon"><i class="bi bi-envelope-fill"></i></a>
        </div>
        <p class="mb-0">&copy; 2023 Igo da Costa Andrade. Todos os direitos reservados.</p>
    </div>
</footer>